@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap");

header {
	position: relative;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: #24242e;
	font-family: "Andika New Basic", sans-serif;
}

#pageTitle {
	font-size: 32px;
	position: absolute;
	left: 1vw;
	top: 1px;
}

#pageSubtitle {
	font-size: 18px;
	position: absolute;
	left: 1vw;
	top: 40px;
}

.headerChildren {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 10px;
	height: 9.5vh;
}

#github {
	width: 50px;
	margin-right: 18px;
}

.scoreboard {
}

.scoreboardContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
}
